.skills {
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 40s infinite linear;
  display: flex;
  padding: 16px;
  background-color: rgb(33, 43, 54);
  font-family: Inter, sans-serif;
}

.product {
  display: inline-block;
  white-space: nowrap;
  animation: floatPhoto 15s infinite linear;
  overflow: hidden;
}

@keyframes floatPhoto {
  to {
    transform: translateX(-50%);
  }
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.skills:hover,
.product:hover {
  animation-play-state: paused;
}

.footer {
  color: rgb(157, 182, 204);
  background-color: rgb(33, 43, 54);
  position: fixed;
  bottom: 0;
  width: 100%;
}
