.container div {
  background-color: rgb(187, 202, 233);
  opacity: 0.5;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
  height: 30px
}

.container span{
  position: relative;
  top: 1.7em;
}


.container h2 {
  margin-top: 5%;
  font-size: 30px;
}
.container {
  padding: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container h2 {
  margin-top: 5%;
  font-size: 30px;
}

.container p {
  margin-top: 2%;
}

.nav div {
  padding-left: 50px;
  margin: auto;
}

.nav input,
.nav input:hover,
.nav input:active {
  width: 400px;
  background-color: rgb(70, 73, 78);
  opacity: 0.6;
  height: 50%;
  margin: 0 20px;
  border: none;
}


.nav select {
  margin-right: 20px;
  width: 80px;
  color: white;
}

.nav a {
  margin: 0 40px;
}

.images img {
  margin-right: 10px;
  width: 104px;
}

.images{
  overflow: hidden;
}

.mainFiltter {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: Verdana;
  font-size: 10px;
}

.mainFiltter .filtter {
  border: 1px solid rgb(145, 174, 194);
  margin: 1px;
}

.nav small {
  margin-right: -20px;
}

